<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Ventana de producto</title>
</head>
<body>
	<h1>ingresar producto</h1>
	
	<section>
		<form action="#" th:action="@{/formProducto}" th:object="${producto}" method="post">
			<div>
				<label for="nombre"> Nombre: </label>
				<input type="text" th:field="*{nombre}" id="nombre" >
				<span th:errors ="*{nombre}" style="color:#FF0000"></span>
			</div>
			
			<br>
			
			<div>
				<label for="descrip"> Descripcion: </label>
				<input type="text" th:field="*{descripcion}" id="descrip" >
				<span th:errors ="*{descripcion}" style="color:#FF0000"></span>
			</div>
			
			<br>
			
			<div>
				<label for="precio"> Precio: </label>
				<input type="text" th:field="*{precio}" id="precio" >
				<span th:errors ="*{precio}" style="color:#FF0000"></span>
			</div>
			
			<br>
			
			<div>
				<label for="fecha"> fecha de vencimiento: </label>
				<input type="text" th:field="*{vencimiento}" id="fecha" >
				<span th:errors ="*{vencimiento}" style="color:#FF0000"></span>
			</div>
			
			<br>
			
			<input type="submit" value="Agregar Producto">
		</form>
	
	</section>
	
	
	
</body>
</html>